<% provide(:title) do %>
  Link #<%= @link.id %>
<% end %>

<table class="table table-bordered">
  <tbody>
    <tr>
      <th class="col-sm-2">Rocket</th>
      <td><%= @link.rocket %></td>
    </tr>
    <tr>
      <th class="col-sm-2">Tinkoff</th>
      <td><%= @link.tinkoff %></td>
    </tr>
    <tr>
      <th class="col-sm-2">Name</th>
      <td><%= @link.name %></td>
    </tr>
    <tr>
      <th class="col-sm-2">Telegram</th>
      <td><%= @link.telegram %></td>
    </tr>
    <tr>
      <th class="col-sm-2">Weight</th>
      <td><%= @link.weight %></td>
    </tr>
  </tbody>
</table>

<p>
  <%= link_to "Edit", edit_link_path(@link), :class => "btn btn-primary" %>
  <%= link_to "Back", links_path, :class => "btn btn-link" %>
</p>
